.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #262728;
}

.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: #00c48c !important;
  color: #ffffff;
}

.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
  background: #00c48c;
  color: #ffffff;
}

.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root:hover {
  background: #00c48c !important;
  color: #ffffff;
}
