.product {
  padding: 20px;
  overflow-y: scroll;
  height: 92%;
  box-sizing: border-box;

  &__link {
    text-decoration: none;
    color: #bbc2d0 !important;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    &:hover {
      color: #00c48c !important;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    &-text {
      display: flex;
      align-items: center;
      margin: 0;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #bbc2d0;
      cursor: pointer;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    &-text:nth-child(2) {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #00c48c !important;
      flex: none;
      order: 2;
      flex-grow: 0;
    }

    &-title {
      margin: 0;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: #3d639d;
    }
  }

  &__content {
    padding: 30px;
    background: #ffffff;
    border-radius: 16px;
    position: relative;

    &-icon {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      right: 16px;
      padding: 18px 18px 9px 18px;
      background: #ff647c;
      border-radius: 50%;
      cursor: pointer;
    }

    &-wrapper {
      display: flex;
      margin-bottom: 30px;
    }

    &-left {
      position: relative;
      width: 480px;
      height: 380px;
      border-radius: 16px;
      background: #f3f5f8;
      padding: 54px 105px 55px 104px;
    }

    &-right {
      width: 100%;
      padding-left: 20px;

      &-top {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 2px solid #f7f7f7;
        margin-bottom: 20px;
      }

      &-duration {
        padding-bottom: 20px;
        border-bottom: 2px solid #f7f7f7;
        margin-bottom: 20px;
      }

      &-character {
        padding-bottom: 20px;

        &-text {
          margin: 0;
          padding: 0;
          font-family: "Gilroy";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #262728;
        }
      }
    }

    &-title {
      margin: 0;
      padding: 0;
      margin-bottom: 30px;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: #3d639d;
    }
  }

  &__carousel {
    margin-bottom: 26.8px;
    box-sizing: border-box;
  }

  &__images {
    width: 271px;
    height: 271px;
    object-fit: contain;
  }

  &__type {
    margin: 0;
    margin-bottom: 8px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #bbc2d0;
  }

  &__price {
    margin: 0;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #262728;
  }

  &__buttons {
    margin: 0;
    padding: 0;
    height: 100%;
    padding: 10px 0;
    list-style-type: none;
    text-align: center;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.3px;
    color: #00c48c;
    cursor: pointer;
    border: 1px solid #00c48c;

    &:nth-child(even) {
      border-left: 1px solid #00c48c;
      border-right: 1px solid #00c48c;
    }

    &:first-child {
      border-radius: 6px 0 0 6px;
    }

    &:last-child {
      border-radius: 0 6px 6px 0;
    }

    &-active {
      background: #00c48c;
      color: #ffffff;
    }

    &-list {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 6px;
    }
  }

  &__prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    &-current {
      margin: 0;
      padding: 0;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.01em;
      color: #262728;
    }

    &-monthly {
      margin: 0;
      padding: 0;
      margin-right: 14px;
      padding: 4px 6px 0 6px;
      background: #ff647c;
      border-radius: 2px;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      letter-spacing: -0.3px;
      color: #ffffff;

      &-wrapper {
        display: flex;
        align-items: center;
      }

      &-duration {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.3px;
        color: #bbc2d0;
      }
    }
  }

  &__percent {
    margin: 0;
    text-align: center;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #262728;

    span {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.3px;
      color: #262728;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-link {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.01em;
      color: #00c48c;
      text-decoration: none;
    }
  }

  &__order {
    &-title {
      margin: 0;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.3px;
      color: #00c48c;
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &-item {
      margin: 0;
      padding: 0;
      padding-bottom: 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &:nth-child(1) {
        border-bottom: 1px solid #bbc2d0;
      }

      &:nth-child(1) .product__order-icon {
        background: #f39dbd;
      }

      &:nth-child(2) {
        border-bottom: 1px solid #bbc2d0;
      }

      &:nth-child(2) .product__order-icon {
        background: #a2aedb;
      }

      &:nth-child(3) {
        border-bottom: 1px solid #bbc2d0;
      }

      &:nth-child(3) .product__order-icon {
        background: #ffbd95;
      }

      &:nth-child(4) .product__order-icon {
        background: #aad9ac;
      }

      &-left {
        display: flex;
        align-items: start;
      }
    }

    &-text {
      margin: 0;

      &:nth-child(1) {
        margin-bottom: 10px;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.3px;
        color: #262728;
      }

      &:nth-child(2) {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #bbc2d0;
      }
    }

    &-icon {
      margin-right: 16px;
      margin-bottom: 6px;
      padding: 6px 10px 0 10px;
      border-radius: 6px;
      cursor: pointer;
    }

    &-button {
      width: 100%;
      padding: 16px;
      border: none;
      background: #00c48c;
      border-radius: 26px;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #ffffff;
      text-align: center;
      cursor: pointer;
    }
  }

  &__icons {
    &-list {
      top: 0;
      list-style-type: none;
      position: absolute;
      left: -20px;
    }

    &-item {
      margin-bottom: 6px;
      padding: 6px 10px 0 10px;
      border-radius: 6px;
      cursor: pointer;

      &:nth-child(1) {
        background: #f39dbd;
      }
      &:nth-child(2) {
        background: #a2aedb;
      }
      &:nth-child(3) {
        background: #ffbd95;
      }
      &:nth-child(4) {
        background: #aad9ac;
      }
    }
  }
}

.slick-dots li button::before {
  content: "" !important;
  opacity: 1 !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 50%;
  background: #bbc2d0;
}

.slick-dots li.slick-active button:before {
  background: #3d639d !important;
}
